.projectGrid {
  display: grid;
  grid-gap: 13px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 920px) {
  .projectGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 610px) {
  .projectGrid {
    grid-template-columns: 1fr;
  }
}
