body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "Crafty Girls", cursive !important;
  user-select: none;
}
p{
  line-height: 30px;
}